<uib-tabset class="nav-tabs-wrapper">
    <uib-tab heading="Instagram">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-6">
                    <label>Username</label>
                    <input id="Username" ng-model="properties.Username.PropertyValue" class="form-control" type="text" />
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>